<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>HELPME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <nav>
        <a class= "nav-login" href="/login">Login</a>
        <a class= "nav-login" href="/login">Logout</a>
      </nav>
      <h1>Bienvenue sur HelpMe</h1>
    </header>
  </body>

  