<h1>Ajouter un ticket</h1>
<form method="post" action="/cities">
<div class="mb-3">
<label for="city" class="form-label">City</label>
<input type="text" class="form-control" id="city" name="city" />
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>