<%- include('partials/_header') %>

<main class="content">
  <section>
    <h1> App</h1>
    <h2>Tickets</h2>
    <p>
      Ceci est une page de présentation en une colonne, rendue avec EJS, sans framework CSS.
    </p>
  </section>
</main>
<!--<%- include('bodyFragment') %> -->
<%- include('partials/_footer') %>